.single-country__gdp,
.single-country__gdpc{
  width: 99%; // charts are not responsive at 100%, some kind of bug
}
.single-country__gdp{
  margin-bottom: 2em; 
}

@media screen and (min-width: 56em){

  .single-country__gdp,
  .single-country__gdpc{
    width: calc(50% - 1.5em);
    float: left;
  }
  .single-country__gdp{
    margin-right: 2em; 
    margin-bottom: 0;
  }

  .chart__title{
    font-variant: small-caps;
    text-transform: lowercase;
    margin: 0 0 1em 0;
  }

}

@media screen and (min-width: 65em){

  .single-country__gdp{
    margin-right: 3em; 
  }

}