.single-country__component--gdp,
.single-country__component--gdpc{
  width: calc(50% - 1em);
  float: left;
}
.single-country__component--gdp{
  margin-right: 2em; 
}
.single-country__component--gdpc{

}

.chart__title{
  font-variant: small-caps;
  text-transform: lowercase;
}