// grid
.country-list{
  display: grid;
  grid-gap: .25em 1em;
  justify-content: start; // stack columns to the left
  align-items: baseline;

  width: 100%;
  overflow-x: auto;
}

@media screen and (min-width: 40em){
  .country-list{
    grid-gap: .25em 1.5em;
  }
}

// headers and legends
.country-list{
  &-header{
    &--population, 
    &--area, 
    &--density{
      justify-self: end;
    }
  }
  &-legend{
    font-size: 16px;
    color: #666; // TODO dimmed text
    margin-top: -5px;

    &--population, 
    &--area, 
    &--density{
      text-align: right;
      margin-bottom: .75em;
    }
  }
}

// data cells
.country-cell{
  &--index{
    @extend %mono-font;
    text-align: right;
    margin-right: .5em;
  }
  &--population,
  &--area,
  &--density{
    @extend %mono-font;
    text-align: right;
  }
}

@media screen and (min-width: 40em){
  .country-cell{
    &--index{
      margin-right: 0;
    }
  }
}
