@media screen and (min-width: 64em){
  .site__grid--home{
    display: grid;
    grid-template-columns: 18em 1fr;
    gap: 1em 3em;
  }
}

@media screen and (min-width: 70em){
  .site__grid--home{
    grid-template-columns: 20em 1fr;
  }
}

.country-count{
  grid-column: 1 / -1;
}