@media screen and (min-width: 64em){
  .site__grid--home{
    display: grid;
    grid-template-columns: 18em 1fr;
    gap: 2em 3em;
  }
  .faux-site__grid--home{ // displays error message on home page
    margin-left: 21em;
  }
}

@media screen and (min-width: 70em){
  .site__grid--home{
    grid-template-columns: 20em 1fr;
  }
  .faux-site__grid--home{
    margin-left: 23em;
  }
}

.country-count{
  grid-column: 1 / -1;
}

// single country

.single-country{
  max-width: 1500px;
  display: grid;
  gap: 3em;
}

@media screen and (min-width: 56em){
  .single-country{
    //display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    gap: 3em 2em;

    &__header{
      grid-column: 1 / -1;
    }
  
    &__component{
      &--basic-stats, &--flags, &--weather{
        grid-column: span 2;
      }
      &--map{
        grid-column: span 4;
      }
      &--region{
        grid-column: span 2;
      }
      &--charts{
        grid-column: 1 / -1;
      }
    }
  }
}

@media screen and (min-width: 65em){
  .single-country{
    gap: 3em;
  }
}
