.single-country{

  &__title{
    line-height: 1em;
    margin: 0 0 .5em 0; 
  }

  &__component{
    &--flags{
      text-align: center;
    }
  }
  &__flag, 
  &__coatOfArms{
    width: 100%;
    // max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px $lightGrey;
  }
  &__coatOfArms{
    padding: .5em;
    background: #fff;
  }

  &__label{
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  &__value{
    color: $lightText;
    margin-bottom: .75em;
  }
  
}

.flags__controles{
  margin-top: .25em;
  text-align: center;
}
.flags__controle{
  @extend %reset-button;
  font-variant: small-caps;
  text-decoration: underline;
  color: $lightText;
  transition: color ease-in .12s;

  &:first-child{
    margin-right: .5em;
  }
  &--active, &:hover{
    color: $black;
  }
  &--active{
    font-weight: 500;
  }
}

.neighbours-grid{
  columns: 2;
  column-gap: 1em;
}
.neighbour-country{
  color: $lightText;
  transition: color ease-out .12s;
  &:hover{
    color: $black;
  }
}