.single-country{

  // the white boxes with drop shadows
  &__box{
    background: #fff;
    box-shadow: 0 4px 8px #ddd;
    padding: 1em 1.5em;
    
    .single-country__header &{
      margin-bottom: .5em;
    }
    .single-country__flags &{
      padding: .75em;
      max-width: 28em;
    }
    .single-country__basic-stats &{
      height: 100%;
      max-width: 28em;
    }
    .single-country__weather &{
      max-width: 28em;
      padding: .75em;
      height: calc(100% - 2em); // 1.5 line height and then some padding to make room for source
    }

  }
  &__box + &__box{
    margin-top: 1.5em;
  }

  // title
  &__title{
    line-height: 1em;
    text-align: center;
    margin: 0;
  }

  // general
  &__label{
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  &__value{
    color: $lightText;
    margin-bottom: .75em;
  }
  
}

// flags

.single-country{
  &__flag{
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #eee;
  }
  &__coatOfArms{
    display: block;
    height: 100%;
    max-height: 250px;
    width: auto;
    margin: 0 auto;
  }
}

.flags__controles{
  margin-top: .50em;
  text-align: center;
}
.flags__controle{
  @extend %reset-button;
  font-variant: small-caps;
  text-decoration: underline;
  color: $lightText;
  transition: color ease-in .12s;

  &:before{
    content: '';
    display: inline-block;
    width: 8px; height: 8px;
    background: $lightGrey;
    margin-right: .25em;
  }

  &:first-child{
    margin-right: 1em;
  }
  &--active, &:hover{
    color: $black;
  }
  &--active{
    font-weight: 500;
    &:before{
      background: $blue;
    }
  }
}

// neighbours

.neighbours-grid{
  columns: 2;
  column-gap: 1em;
}
.neighbour-country{
  color: $lightText;
  transition: color ease-out .12s;
  &:hover{
    color: $black;
  }
}