// styling of sort buttons, icons

// button
.button__sort{
  // reset button styles
  @extend %reset-button;

  text-decoration: underline;
  font-weight: 500;
  display: flex;
  gap: 3px;
  align-items: center;

  &--country{
    margin-left: -20px;
  }
}

// svg icon
.icon__sort{
  width: 18px;
  
  &--upper, &--lower{
    fill: $lightGrey;
    &--active{
      fill: $blue;
    }
  }
}