.source{
  display: flex;
  gap: .5em;

  &__container{
    border-top: 1px solid $lightGrey;
    padding-top: .5em;
    margin: 2em 0;
    max-width: 80em;
  }

  &__title{
    font-size: inherit;
    margin: 0;
    font-weight: 700;
    font-variant: small-caps;

  }
  &__icon{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 10px;
    background: $lightGrey;

    &--error{
      background: $error;
    }
    &--loaded{
      background: $blue;
    }
  }
  &__status{
    text-transform: lowercase;
    font-variant: small-caps;
    color: $lightText;
    font-size: 16px;
    width: 4em;
  }
  &__link{
    color: $black;
  }
  &__errormessage{
    color: $error;
  }
}